<h2>Output</h2>

<% @dictionary.each do |word| %>
  <% if word.id == @id %>
    <h1><%= word.word %></h1>
  <% end %>
<% end %>

<ul>
  <% @dictionary.each do |word| %>
    <% if word.id == @id %>
      <% word.definition.each do |definition| %>
        <li><%= definition %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<form class="" action="/add_defs/<%= @id %>">
  <label for="definition">Add another definition?</label><br>
  <input type="text" name="definition">
  <button type="submit" class="btn btn-warning" name="button">Add definition</button>
</form>

<a href="/">Return to list of words</a>
