<h2>Output</h2>

<% @dictionary.each do |word| %>
  <% if word.id == @id %>
  <h1><%= word.word %></h1>
  <% end %>
  <% end %>

  <ul>
    <% @dictionary.each do |word| %>
    <% if word.id == @id %>
    <% %>
    <li><%= word.definition%></li>
  </ul>
  <% end %>
  <% end %>
  <ul>

    <form class="" action="/add_defs/<%= @id %>">
      <label for="definition">What do you think this word means?</label><br>
      <input type="text" name="definition" pattern="[a-z]{1}">
      <button type="submit" class="btn btn-warning" name="button">Add definition</button>
    </form>

<a href="/">Return to list of words</a>
