<h2>Definitions:</h2>

<div>
  <% @dictionary.each do |word| %>
    <% if word.id == @id %>
      <h1 class="newWordsOutput"><%= word.word %></h1>
    <% end %>
  <% end %>
</div>

<div >
  <ul>
    <% @dictionary.each do |word| %>
      <% if word.id == @id %>
        <% word.definition.each do |definition| %>
          <li class="newDefs"><%= definition %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<form id="formDef" class="" action="/add_defs/<%= @id %>" method="post">
  <label class="labels" for="definition">Add another definition?</label><br>
  <input type="text" name="definition" required>
  <button type="submit" class="btn btn-warning" name="button">Add definition</button>
</form>

<a href="/">Return to list of words</a>
